@import url(style/header.css);
@import url(style/informativo.css);
@import url(style/main.css);
@import url(style/footer.css);
@import url(style/services.css);
@import url(style/banner.css);
@import url(style/about.css);
@import url(style/reembolso.css);
@import url(style/aviso.css);
@import url(style/hover.css);
:root {
    --tom-escuro: #34495E;
    --cor-principal: #106B8F;
    --cor-principal-high:  #71A7CC;
    --cor-clara: #C7EAF2;
    --branco: #F8F1E8;
    --cor-fundo:  #F8F1E8;
    --marrom-degrade: linear-gradient(153deg,#bed1ee 39% , #bed1ee 63%); 
    --bege-degrade: linear-gradient(153deg, #4686a0 39% , #477d92 63%); 
    --branco-degrade: linear-gradient(153deg, ##F8F1E8 39% , #EBECEE 73%);
    --branco-degrade-2: linear-gradient(153deg,#c3c9d3 49% , #F8F1E8 64%);
    --cor-marrom: #34495e;
    --preto:  #333;
    

    --fonte-one:'Montserrat Alternates' ,sans-serif;
    --fonte-two: 'Amethysta' , serif;
    --fonte-three: inherit;
}

body {
    background-color: var(--cor-fundo);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-one);
}